[Desktop Entry]
Name=Network Speed
Comment=Show live download/upload speed in the panel
Keywords=Network;Speed;Bandwidth;
Categories=Network;System;

Type=Application
Icon=io.github.balayogig.cosmic-ext-applet-net-speed-symbolic
Exec=cosmic-ext-applet-net-speed
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
